.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  font-size: calc(6px + 2vmin);
  padding: 3px;
  border-radius: 6px;
}

button {
  font-size: calc(6px + 2vmin);
  margin-block-start: 1rem;
}

li {
  list-style-type: none;
}
